[package]
name = "gateway"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
axum = "0.7"
tokio = { version = "1.0", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
reqwest = { version = "0.11", features = ["json"] }
serde_json = "1.0"
axum-extra = "0.9.4"
tracing = "0.1"
tracing-subscriber = "0.3"
serde_yaml = "0.9"
tower = { version = "0.5.1", features = ["full"] }
anyhow = "1.0.92"
tower-http = { version = "0.6.1", features = ["full"] }
uuid = "1.11.0"
chrono = "0.4.38"
opentelemetry = { version = "0.27", default-features = false, features = [
    "trace",
] }
opentelemetry_sdk = { version = "0.27", default-features = false, features = [
    "trace",
    "rt-tokio",
] }
opentelemetry-semantic-conventions = { version = "0.27.0", features = [
    "semconv_experimental",
] }
opentelemetry-otlp = { version = "0.27.0", features = [
    "http-proto",
    "reqwest-client",
    "reqwest-rustls",
] }
