{{- if  .Values.management.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "app.fullname" . }}-migrations-{{ .Values.management.migrations.image.tag | default .Chart.Version | replace "." "-" }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
    app.kubernetes.io/component: migrations
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  template:
    metadata:
      labels:
        {{- include "app.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: migrations
    spec:
      restartPolicy: Never
      containers:
        - name: migrations
          image: "{{ .Values.management.migrations.image.repository }}:{{ .Values.management.migrations.image.tag | default .Chart.Version }}"
          env:
            - name: POSTGRES_DATABASE_HOST
              {{- if .Values.management.database.configMapName }}
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.management.database.configMapName }}
                  key: {{ .Values.management.database.configMapKeys.host }}
              {{- else }}
              value: {{ .Values.management.database.host | quote }}
              {{- end }}
            - name: POSTGRES_DATABASE_PORT
              {{- if .Values.management.database.configMapName }}
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.management.database.configMapName }}
                  key: {{ .Values.management.database.configMapKeys.port }}
              {{- else }}
              value: {{ .Values.management.database.port | quote }}
              {{- end }}
            - name: POSTGRES_DATABASE_NAME
              {{- if .Values.management.database.configMapName }}
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.management.database.configMapName }}
                  key: {{ .Values.management.database.configMapKeys.name }}
              {{- else }}
              value: {{ .Values.management.database.name | quote }}
              {{- end }}
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.management.database.existingSecret }}
                  key: {{ .Values.management.database.passwordKey }}
            - name: DATABASE_URL
              value: "postgresql://{{ .Values.management.database.user }}:$(DB_PASSWORD)@$(POSTGRES_DATABASE_HOST):$(POSTGRES_DATABASE_PORT)/$(POSTGRES_DATABASE_NAME)?sslmode={{ .Values.management.database.sslMode }}"
          resources:
            {{- toYaml .Values.management.migrations.resources | nindent 12 }}
  backoffLimit: 3
  activeDeadlineSeconds: 300
{{- end }} 