name: build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  SQLX_OFFLINE: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: "build"
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.87.0
        with:
          components: clippy, rustfmt
      - name: Cache dependencies
        uses: swatinem/rust-cache@v2
      - name: Security Audit
        uses: actions-rust-lang/audit@v1
      - name: Check formatting
        run: cargo fmt --check
      - name: Check clippy
        run: cargo clippy -- -D warnings
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
