name: Release a New Version

on:
  workflow_dispatch:

jobs:
  release:
    name: Bump Versions
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OSS_CI_BOT_APP_ID }}
          private-key: ${{ secrets.OSS_CI_BOT_PRIVATE_KEY }}
          repositories: ${{ github.event.repository.name }}

      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}

      - id: cz
        name: Bump Version, Create Tag and Changelog
        uses: commitizen-tools/commitizen-action@master
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          changelog_increment_filename: body.md

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: "body.md"
          tag_name: ${{ env.REVISION }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Print Version
        run: echo "Bumped to version ${{ steps.cz.outputs.version }}"
