name: Security Scan

on:
  workflow_dispatch:  # Manual trigger
  schedule:
    - cron: "0 10 * * *"  # Daily at 10 AM UTC
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  trivy:
    permissions:
      contents: read
      actions: read
      security-events: write
      pull-requests: write
    uses: traceloop/.github/.github/workflows/reuse-trivy.yml@main
    with:
      image_name: hub
      docker_context: "."
      platforms: "amd64,arm64"

