name: Bump Chart Version

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  bump-version:
    name: Bump Helm Chart Version
    if: "!startsWith(github.event.head_commit.message, 'bump:')"
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.cz.outputs.version }}
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - id: cz
        name: Bump Version and Create Changelog
        uses: commitizen-tools/commitizen-action@0.24.0
        with:
          github_token: ${{ secrets.GH_ACCESS_TOKEN }}
          changelog_increment_filename: body.md
          commit: true
          push: true

      - name: Print Version
        run: echo "Bumped to version ${{ steps.cz.outputs.version }}"
